<!DOCTYPE html>
<html>
  <head>
    <title>Zealicon Avatar</title>
     <link rel="shortcut icon" type="image/x-icon" href="http://zealicon.in/zeal/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    
  <style type="text/css">
    .nav-wrapper{
      padding-left:10px;
    }
    .brand-logo{
      font-weight: 300;
      font-family: roboto;
    }
    .custom-btn{
      padding-top:10px;
    }
    .btn{
      color: #B8B8B8 ;
      background: #1a237e;
      width:300px;
    }
    .btn:hover{
      color: #fff ;
      background: #1a237e;
    }
    .nav-wrapper{
      background: #1a237e;
    }
  
  </style>
   
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Zealicon Avatar</a>
        <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
          <li><a href="#">Hi, {{ request.user.first_name }} {{ request.user.last_name }}</a></li>
          <li><a href="/accounts/logout">Logout</a></li>
        {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="center">
      <h4 style="font-weight:300;">#Feel the Zeal</h4>
        <div class="col s4">
          <div class="row">
            <div class="s12 custom-btn">
            <img src="/static/images/zeal_logo.png" width="600" height="400">
            <br>
            <a class="waves-effect waves-light btn" href="/accounts/facebook/login">Login with Facebook</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

  </body>
</html>
